<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="full-screen" content="yes" />
    <meta name="screen-orientation" content="portrait" />
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <link rel="stylesheet" href="style/game.css">
    <script type="text/javascript" src="pixi.js"></script></body>
    <script type="text/javascript" src="pixi-particles.js"></script></body>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.bundle %>"></script></body>
</body>
</html>
